# Environment
.env
.venv
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db

# Frontend
**/node_modules/
**/dist/
**/.firebase/
**/build/

# Backend
**/db.sqlite3
**/users.json

# Private Keys and Build Artifacts
pixelshopsns-firebase-adminsdk-fbsvc-1be279ef70.json
backend/firebase-key.json
*.p8
frontend/ios/App/App/Pikumaru/
backend/service-account-key.json
frontend/src/api/*.json
